

.admin-search-bar-scope{
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}


.admin-search-bar-scope input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 20px;
    border: none !important;
    outline: none !important;
    font-size: 0.95rem;
    background-color: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.admin-search-bar-scope .search-suggestions{
    position: fixed;
    top: 110px; 
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 80px);
    max-width: 900px;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    max-height: 260px;
    overflow-y: auto;
    z-index: 9999;

    display: none;
}

.admin-search-bar-scope .suggestion-item{
    padding: 12px 16px;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-search-bar-scope .suggestion-item .txt{ color:#111; }
.admin-search-bar-scope .suggestion-item .icon{ opacity:.6; }
.admin-search-bar-scope .suggestion-item:hover{ background:#f4f4f4; }

.admin-search-bar-scope .search-notfound{
    position: fixed;
    top: 114px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #111;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10000;
    font-weight: 700;

    display: none !important;
}
.admin-search-bar-scope .search-notfound.show{
    display: block !important;
}
